:root{
    --lightGreen:#B3FFAE;
    --lighterGreen:#F8FFDB;
    --red:#FF6464;
    --lightRed:#FF7D7D;
}

header{
    /*background-color: var(--lightGreen);
     */
    justify-content: space-between;
    align-items: center;
}
nav{
    font-size: 1.2rem;
    font-weight: bold;
    padding:0;
    margin:0;
    background-color: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(1rem);
}

nav ul {
    list-style: none;
    --gap:2rem;
    margin: 20px;
}
@media (max-width: 35em) {
    nav{
        position:fixed;
        inset: 0 0 0 30%;
        z-index: 900;
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }
    ul{
        flex-direction: column;
        padding: min(20vh, 10rem) 2rem;
        color: white;
        --gap:2.5rem;
    }
    li a{
        color: white !important;
    }
    #mobile-nav-toggle{
        display:block !important;
        z-index: 9999;
        position: absolute;
        background: url('/Assets/burger-menu-right-svgrepo-com.svg');
        background-size: cover;
        width:5rem;
        aspect-ratio: 1;
        border:0;
        top:1rem;
        right:1rem;
    }
}
#mobile-nav-toggle{
    display:none;
}
nav[data-open='true']{
    transform: translateX(0%);
}
#mobile-nav-toggle[data-toggled='true']{
    background: url('/Assets/cross-small-svgrepo-com.svg');
    background-size: cover;
    filter: invert(100%);
}
/*li:hover{
    background-color: var(--lighterGreen);
    border-radius: 5px;
    padding: 2px;!*looks kind of janky tho moves around too much*!
}*/
li a{
    text-decoration: none;
    color: black;
}

body{
    overflow-x:hidden;
    background-color: #cdcdcd;
}
main{
    margin: 5%;
}
iframe{
    border-radius: 8px;
    /*overflow:hiddenn
     */
    height:500px;
}
footer{
    align-items: center;
    flex-direction: column;
    background-color: white;
    --gap:0rem;
    flex-grow: 1;
}
#socialIcons{
    justify-content: space-between;
    align-items: center;
    /*text-align: center;*/
    --gap:0.5rem;
    list-style: none;

}
#socialIcons a img{
    border: 1px solid #ccc;
    width:2em;
    height:2em;
    border-radius: 50%;
    opacity:0.5;
    padding:0.3em;
}

#socialIcons a img:hover{
    opacity:1;
}
#footer{
    --gap:1rem;
    margin-top:1em;
}
#footerInfo{
    justify-content: space-between;
    font-size: 0.8rem;
    color:#cdcdcd;
    width:80vw;
}
#navLogo{
    width:5rem;
    height:5rem;
    border-radius: 5px;
}
#copyright{
    color:#ccc;
    font-size: 0.8rem;
    opacity: 0.75;
}
.flex{
    display:flex;
    gap: var(--gap, 1rem);
}